{# <plugin root>/src/Resources/app/administration/src/module/sw-cms/blocks/text-image/home-hero/preview/sw-cms-preview-home-hero.html.twig #}
{% block sw_cms_block_home_hero %}
	<div class="sw-cms-preview-home-hero">
		<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
		<div>
			<h3>Subtitle here</h3>
			<h2>Title Here</h2>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
		</div>
	</div>
{% endblock %}

{# TODO: Admin styling for preview component & editor #}
