{# <plugin root>/src/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text-reversed/preview/sw-cms-preview-image-text-reversed.html.twig #}
{% block sw_cms_block_image_text_reversed_preview %}
	<div class="sw-cms-preview-image-text-reversed">
		<div>
			<h2>Lorem ipsum dolors</h2>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
		</div>
		<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
	</div>
{% endblock %}

{# TODO: Admin styling for preview component & editor #}
