<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_video %}
<div
    class="sw-cms-el-video"
    :style="horizontalAlign">
    <div
        class="sw-cms-el-video__content"
        :class="displayModeClass"
        :style="styles"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_video_content %}
        <video loop autoplay muted>
            <source :src="mediaUrl" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% endblock %}
    </div>
</div>
{% endblock %}
