<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_gp_product_preview %}
	<div class="sw-cms-preview-product-slider">
		<h2>Consultation Form</h2>
	</div>
{% endblock %}

{# TODO: Admin styling for preview component & editor #}
