<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_video_preview %}
<div class="sw-cms-el-preview-video">
    <img
        :src="assetFilter('/thstarterplugin/cms/preview_video_element.png')"
        alt=""
    >
</div>
{% endblock %}
