<div class="arrow-down arrow-down--orange">
	<div class="arrow-down__wrapper">
		<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 32 32" fill="none">
			<g clip-path="url(#clip0_361_720)">
				<path d="M16.0256 25.4822C18.7838 22.721 21.4863 20.0155 24.1902 17.3128C25.2882 16.2153 26.3527 15.0803 27.505 14.0412C29.1012 12.6001 31.5017 13.4027 31.9414 15.492C32.1627 16.5422 31.7369 17.3852 31.0035 18.1168C28.0978 21.0129 25.1958 23.9127 22.2976 26.8162C20.9218 28.1932 19.5445 29.5694 18.1659 30.9446C16.759 32.3454 15.2435 32.3537 13.8519 30.9586C9.57135 26.6854 5.2917 22.4099 1.01297 18.1321C0.280989 17.4005 -0.155975 16.5631 0.05694 15.5115C0.493904 13.361 2.95983 12.5904 4.5894 14.1205C6.09094 15.5337 7.52013 17.0221 8.97992 18.4813C11.1749 20.6744 13.369 22.8694 15.5622 25.0663C15.693 25.1942 15.8336 25.3097 16.0256 25.4822Z" fill="#F97231"/>
				<path d="M16.6756 9.42847C17.8279 8.3421 18.9231 7.31415 20.0155 6.28063C21.8649 4.52519 23.706 2.76418 25.5569 1.01013C26.6966 -0.0706822 28.0033 -0.289066 29.2432 0.378615C30.8714 1.25355 31.1637 3.32893 29.7999 4.66846C28.3137 6.13179 26.7815 7.54644 25.2688 8.98057C23.1582 10.992 21.0425 13.002 18.9217 15.0106C17.5217 16.3348 15.8518 16.3459 14.4574 15.0273C10.9265 11.6824 7.39826 8.33236 3.87286 4.97727C2.4576 3.63078 2.29617 2.0659 3.43033 0.889109C4.60206 -0.326627 6.42785 -0.289068 7.78466 0.994826C10.4751 3.54314 13.1632 6.09563 15.849 8.65229C16.0981 8.89154 16.3542 9.12384 16.6756 9.42847Z" fill="#FFB178"/>
			</g>
			<defs>
				<clipPath id="clip0_361_720">
					<rect width="32" height="32" fill="white" transform="translate(32) rotate(90)"/>
				</clipPath>
			</defs>
		</svg>
		<span>Shop the seeds</span>
	</div>
</div>
