<div class="gp-cf">
	<div class="gp-cf__wrapper container">
		<div class="row gp-cf__row">
			<div class="col-12 col-lg-6">
				<div class="gp-cf__content">
					<div class="gp-cf__heading">
						<h1>Let’s Talk</h1>
						<p>We love talking all-things Gourd, so please don’t hesitate to reach out.</p>
						<div class="gp-cf__icon">

						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="gp-cf__form">
					<form action="/contact-us" method="post" id="contact-form">
						<div class="gp-cf__fields">
							<div class="gp-cf__field">
								<label for="b068931cc450442b63f5b3d276ea4297">Name
									<span>*</span>
								</label>
								<input type="text" required name="b068931cc450442b63f5b3d276ea4297" id="b068931cc450442b63f5b3d276ea4297" data-validation="text">
								<span class="error-message">This field is required</span>
							</div>
							<div class="gp-cf__field">
								<label for="0c83f57c786a0b4a39efab23731c7ebc">Email
									<span>*</span>
								</label>
								<input type="email" required name="0c83f57c786a0b4a39efab23731c7ebc" id="0c83f57c786a0b4a39efab23731c7ebc" data-validation="text">
								<span class="error-message">This field is required</span>
							</div>
							<div class="gp-cf__field">
								<label for="78e731027d8fd50ed642340b7c9a63b3">Message</label>
								<textarea name="78e731027d8fd50ed642340b7c9a63b3" id="78e731027d8fd50ed642340b7c9a63b3"></textarea>
							</div>

							<div class="gp-cf__field gp-cf__field__hp">
								<label for="name">Name
									<span>*</span>
								</label>
								<input type="text" name="name" id="name">
								<span class="error-message">This field is required</span>
							</div>
							<div class="gp-cf__field gp-cf__field__hp">
								<label for="subject">Email
									<span>*</span>
								</label>
								<input name="subject" id="subject">
								<span class="error-message">This field is required</span>
							</div>
							<div class="gp-cf__field gp-cf__field__hp">
								<label for="message">Message</label>
								<textarea name="message" id="message"></textarea>
							</div>
						</div>

					    {% set captchas = config('core.basicInformation.activeCaptchasV2') %}
						<div class="gp-cf__submit">
							<div id="recaptcha" class="g-recaptcha"
								data-sitekey="{{captchas.googleReCaptchaV2.config.siteKey}}"
								data-callback="contact_form__onSubmit"
								data-size="invisible">
							</div>
							<button id="submit">submit</button>
							{# <button class="g-recaptcha" data-sitekey="{{captchas.googleReCaptchaV2.config.siteKey}}" data-callback="onContactFormSubmitCallback">Send message</button> #}
							{# <button onclick="onContactFormSubmitCallback">Send message</button> #}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="gp-cf__wrapper--green">
		<div class="gp-cf__background">
			<img class="home-hero__ornament" src="{{ asset('bundles/thstarterplugin/contact-bg.png', 'asset') }}">
		</div>
	</div>
</div>
