<div class="gp-cf">
	<div class="gp-cf__wrapper container">
		<div class="row gp-cf__row">
			<div class="col-12 col-lg-6">
				<div class="gp-cf__content">
					<div class="gp-cf__heading">
						<h1>Lets Talk</h1>
						<p>We love talking all-things Gourd, so please don’t hesitate to reach out.</p>
						<div class="gp-cf__icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="29" height="22" viewbox="0 0 29 22" fill="none">
								<path d="M28.1773 4.97993V5.39921C28.1773 9.75236 28.1773 14.1055 28.1773 18.4586C28.1773 20.6066 26.3932 22.0019 23.6355 22.0019H4.54736C1.78419 22.0019 0 20.6135 0 18.4647C0 14.1115 0 9.75838 0 5.40523V4.87598C0.219998 5.0375 0.356397 5.13373 0.488396 5.24027L10.0583 12.7151C12.4607 14.5889 15.7156 14.5907 18.1146 12.7202C21.2921 10.2407 24.4686 7.76022 27.6439 5.27892C27.7847 5.16809 27.9024 5.04008 28.03 4.9198L28.1773 4.97993Z" fill="black"/>
								<path d="M14.0954 0.00381855C17.3602 0.00381855 20.6239 -0.00477319 23.8853 0.00381855C25.5199 0.00983276 26.7552 0.590633 27.6187 1.67319C27.8013 1.90259 27.7914 2.05295 27.5285 2.25657C23.6807 5.2465 19.8396 8.24157 16.005 11.2418C14.8302 12.1568 13.3353 12.1525 12.155 11.2341C8.31167 8.24072 4.47013 5.24564 0.630431 2.24884C0.358734 2.03749 0.384034 1.88197 0.558933 1.66374C1.42243 0.582043 2.66431 0.00897359 4.2989 0.00381855C7.56697 -0.00391401 10.8317 0.00381855 14.0954 0.00381855Z" fill="black"/>
							</svg>
							<span>Lorem Ipsum has been
							</span>
						</div>
						<p>Let's always be connected with you by monitoring all of our social media.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="gp-cf__form">
					<form action="http://localhost:81/index.php" method="post">
						<div class="gp-cf__fields">
							<div class="gp-cf__field">
								<label for="name">Name
									<span>*</span>
								</label>
								<input type="text" required name="name" id="name" data-validation="text">
								<span class="error-message">This field is required</span>
							</div>
							<div class="gp-cf__field">
								<label for="email">Email
									<span>*</span>
								</label>
								<input type="email" required name="email" id="email" data-validation="text">
								<span class="error-message">This field is required</span>
							</div>
							<div class="gp-cf__field">
								<label for="message">Message</label>
								<textarea name="message" id="message"></textarea>
							</div>
						</div>
						<div class="gp-cf__submit">
							<button>Send message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="gp-cf__wrapper--green">
		<div class="gp-cf__background">
			<img class="home-hero__ornament" src="{{ asset('bundles/thstarterplugin/contact-bg.png', 'asset') }}">
		</div>
	</div>
</div>
