<div class="gp-bottom" style="background-color:#bad3a5;height:200px">
	<div class="row">

		<div class="col12 col-md-4 offset-md-2">
			<h1 style="margin-top:80px">
				Thank you for your purchase!
			</h1>
			<b>
				Your order will help support my daughter's college education
			</b>
		</div>
		<div class="col-12 col-md-4">
			<img style="position:absolute;bottom:-300px;z-index:1000" src="/bundles/thstarterplugin/bottom.png?1707303441">
		</div>
	</div>
</div>
{# TODO: responsive, refactor, and styling #}
