<style>
	.ccol
	{
		margin-bottom:20px;
	}
	.cTitle
	{
		font-size:30px;
		font-weight:bold;
		padding:10px;
	}
</style>
<div class="gp-achievement-list">
	<div class="row">
		<div class="col-12">



			{% set element = block.slots.getSlot('achievements') %}

			<div style="padding:20px">
				<div class="row" style="background-color:#a2be8a;border-radius:20px;padding:20px">

					<div class="col-md-4" style="padding:20px;text-align:center">
						<img style="max-height:285px" src="/bundles/thstarterplugin/big_trophy.png?1707303441" alt="trophy.png?1707303441">
					</div>

					<div class="col-md-4">
						<div class="row">
							<div class="col-12 ccol">
								<div style="display:flex">
									<div class="cTitle">
									01
									</div>
									<div>
										<b>2023 WR <br/>Heaviest Pumpkin Ever</b> <br/> 2749 lbs
									</div>
								</div>
							</div>
							<div class="col-12 ccol">
								<div style="display:flex">
									<div class="cTitle">
									02
									</div>
									<div>
										<b>2023 World Record<br/>
										Largest Pumpkin</b><br/>
										Circumference 21' 1"
									</div>
								</div>

							</div>
							<div class="col-12 ccol">
								<div style="display:flex">
									<div class="cTitle">
									03
									</div>
									<div>
										<b>2023 WR<br/>
										Heaviest Jack O Lantern Carved</b> <br/> 2,749 lbs
									</div>
								</div>

							</div>
							<div class="col-12 ccol">
								<div style="display:flex">
									<div class="cTitle">
										04
									</div>
									<div>
										<b>2023 WR<br/>Largest Jack O Lantern Carved</b> <br/> 21 feet 1 inch 
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="row">
							<div class="col-12 ccol">

									<div style="display:flex">
										<div class="cTitle">
											05
										</div>
										<div>
											<b>2022 World Record<br/>Largest Jack O Lantern</b> <br/> Circumference 20’4” 
										</div>
									</div>


							</div>
							<div class="col-12 ccol">
								<div style="display:flex">
									<div class="cTitle">
										06
									</div>
									<div>
										<b>2020 World Record<br/>Largest Jack O Lantern</b> <br/> Weight 2,350 lbs
									</div>
								</div>


							</div>
							<div class="col-12 ccol">
									<div style="display:flex">
										<div class="cTitle">
											07
										</div>
										<div>
											<b>2020 World Record<br/>Largest Jack O Lantern</b> <br/> Circumference 19’10”
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="gp-achievement-list__long-text">
				{% set element = block.slots.getSlot('long-text') %}
				{% if element %}
					<div data-cms-element-id="{{ element.id }}">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endif %}

			</div>
		</div>
	</div>

</div>
{# TODO: responsive, refactor, and styling #}
