<div class="gp-cf">
	<div class="gp-cf__wrapper container">
		<div class="row gp-cf__row">
			<div class="col-12 col-lg-6">
				<div class="gp-cf__content">
					<div class="gp-cf__heading">
						<h1>Lets Talk</h1>
						<p>We love talking all-things Gourd, so please don’t hesitate to reach out.</p>

						<p>Let's always be connected with you by monitoring all of our social media.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="gp-cf__form">
					<form action="http://localhost:81/index.php" method="post">
						<div class="gp-cf__fields">
							<div class="gp-cf__field">
								<label for="name">Name
									<span>*</span>
								</label>
								<input type="text" required name="name" id="name" data-validation="text">
								<span class="error-message">This field is required</span>
							</div>
							<div class="gp-cf__field">
								<label for="email">Email
									<span>*</span>
								</label>
								<input type="email" required name="email" id="email" data-validation="text">
								<span class="error-message">This field is required</span>
							</div>
							<div class="gp-cf__field">
								<label for="message">Message</label>
								<textarea name="message" id="message"></textarea>
							</div>
						</div>
						<div class="gp-cf__submit">
							<button>Send message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="gp-cf__wrapper--green">
		<div class="gp-cf__background">
			<img class="home-hero__ornament" src="{{ asset('bundles/thstarterplugin/contact-bg.png', 'asset') }}">
		</div>
	</div>
</div>
