<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_gp_company_discount %}
	<div class="sw-cms-block-gp-grower_discount">
		<div class="sw-cms-block-image-text-gallery">
			<div class="sw-cms-block-image-text-gallery__left">
				<slot name="first-image"></slot>
				<slot name="first-text"></slot>
			</div>

			<div class="sw-cms-block-image-text-gallery__center">
				<slot name="second-image"></slot>
				<slot name="second-text"></slot>
			</div>

			<div class="sw-cms-block-image-text-gallery__right">
				<slot name="third-image"></slot>
				<slot name="third-text"></slot>
			</div>

			<div class="sw-cms-block-image-text-gallery__left">
				<slot name="fourth-image"></slot>
				<slot name="fourth-text"></slot>
			</div>

			<div class="sw-cms-block-image-text-gallery__center">
				<slot name="fifth-image"></slot>
				<slot name="fifth-text"></slot>
			</div>

			<div class="sw-cms-block-image-text-gallery__right">
				<slot name="six-image"></slot>
				<slot name="six-text"></slot>
			</div>

			<div class="sw-cms-block-image-text-gallery__center">
				<slot name="seventh-image"></slot>
				<slot name="seventh-text"></slot>
			</div>

			<div class="sw-cms-block-image-text-gallery__right">
				<slot name="eight-image"></slot>
				<slot name="eight-text"></slot>
			</div>

			<div class="sw-cms-block-image-text-gallery__right">
				<slot name="ninth-image"></slot>
				<slot name="ninth-text"></slot>
			</div>

			<div class="sw-cms-block-image-text-gallery__center">
				<slot name="ten-image"></slot>
				<slot name="ten-text"></slot>
			</div>
		</div>
	</div>
{% endblock %}

{# TODO: Admin styling for preview component & editor #}
