<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_gp_product %}
	<div class="sw-cms-block-gp-product">
		<slot name="products"></slot>
	</div>
{% endblock %}

{# TODO: Admin styling for preview component & editor #}
