<footer class="footer-main gp-footer">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 col-lg-6 d-flex gap-4 gp-footer__top">
				<div class="gp-footer__logo">
					<picture>
						<img src="{{ asset('bundles/thstarterplugin/logo-footer.png', 'asset') }}" alt="Great Pumpkin Logo " class="img-fluid">
					</picture>
				</div>
				<div class="gp-footer__text">
					<p class="h3">Travis Gienger</p>
					<p>is a grower of 2,749 pound World Record pumpkin, the North American record 2,560 Maverick, the famous Tiger King 2,350, all winner's of Half Moon Bay Pumpkin Fest</p>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="gp-footer__brands">
					<ul class="gp-footer__social">
						{# Twitter link not found #}
						{# <li class="gp-footer__social-item tw">
																									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24">
																										<path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23"/>
																									</svg>
																		</li> #}
							<li class="gp-footer__social-item fb"> <a href="https://web.facebook.com/profile.php?id=100063175452882" target="_blank" rel="noopener noreferrer">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24">
									<path fill="currentColor" d="M15.12 5.32H17V2.14A26.11 26.11 0 0 0 14.26 2c-2.72 0-4.58 1.66-4.58 4.7v2.62H6.61v3.56h3.07V22h3.68v-9.12h3.06l.46-3.56h-3.52V7.05c0-1.05.28-1.73 1.76-1.73"/>
								</svg>
							</a>
						</li>
						<li class="gp-footer__social-item ig">
							<a href="https://www.instagram.com/travispumpkins/?hl=en" target="_blank" rel="noopener noreferrer">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24">
									<g fill="none" stroke="currentColor" stroke-width="1.5">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 16a4 4 0 1 0 0-8a4 4 0 0 0 0 8"/>
										<path d="M3 16V8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5Z"/>
										<path stroke-linecap="round" stroke-linejoin="round" d="m17.5 6.51l.01-.011"/>
									</g>
								</svg>
							</a>
						</li>
						<li class="gp-footer__social-item yt">
							<a href="https://www.youtube.com/@TravisPumpkins/" target="_blank" rel="noopener noreferrer">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 16 16">
									<path fill="currentColor" d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104l.022.26l.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105l-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006l-.087-.004l-.171-.007l-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103l.003-.052l.008-.104l.022-.26l.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007l.172-.006l.086-.003l.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
								</svg>
							</a>
						</li>
					</ul>
					<div class="gp-footer__brand">
						<div class="gp-footer__brand-item paypal">
							<svg width="120" height="60" viewbox="0 0 948 245" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M36.2997 0C33.6653 0 31.4278 1.91244 31.0159 4.51653L0.522691 197.896C0.41189 198.602 0.455427 199.324 0.65026 200.012C0.845092 200.7 1.18669 201.338 1.65143 201.881C2.11617 202.425 2.69291 202.861 3.34234 203.16C3.99177 203.459 4.69839 203.614 5.41342 203.614H41.5759C44.2064 203.614 46.4477 201.698 46.8597 199.098L55.8171 142.31C56.2253 139.71 58.4666 137.794 61.101 137.794H93.9789C132.394 137.794 165.004 109.765 170.96 71.7845C176.966 33.4828 147.044 0.0831495 104.634 0H36.2997ZM71.4531 43.1697H97.7585C119.415 43.1697 126.468 55.9483 124.238 70.0799C122.008 84.2418 111.055 94.6733 90.1051 94.6733H63.3307L71.4531 43.1697ZM244.51 56.3149C235.379 56.3489 224.872 58.2198 213.076 63.1332C186.018 74.4113 173.024 97.7196 167.506 114.712C167.506 114.712 149.942 166.556 189.624 195.039C189.624 195.039 226.425 222.459 267.852 193.349L267.138 197.896C267.027 198.602 267.071 199.323 267.265 200.01C267.459 200.698 267.8 201.335 268.264 201.878C268.728 202.422 269.304 202.858 269.952 203.158C270.601 203.457 271.307 203.613 272.021 203.614H306.35C308.985 203.614 311.222 201.698 311.634 199.098L332.516 66.6708C332.628 65.9645 332.586 65.2423 332.392 64.5539C332.198 63.8656 331.857 63.2274 331.393 62.6832C330.929 62.1391 330.353 61.7019 329.704 61.4018C329.055 61.1018 328.348 60.9458 327.633 60.9448H293.304C290.669 60.9448 288.428 62.861 288.02 65.4614L286.897 72.5895C286.897 72.5895 271.908 56.2128 244.51 56.3149ZM245.632 98.1429C249.574 98.1429 253.18 98.6872 256.415 99.7265C271.227 104.481 279.625 118.711 277.195 134.135C274.198 153.127 258.623 167.112 238.648 167.112C234.71 167.112 231.104 166.571 227.865 165.532C213.057 160.777 204.606 146.547 207.036 131.123C210.033 112.131 225.658 98.1429 245.632 98.1429Z" fill="white"/>
								<path d="M530.661 0C528.027 0 525.789 1.91244 525.377 4.51653L494.884 197.896C494.773 198.602 494.817 199.324 495.012 200.012C495.206 200.7 495.548 201.338 496.013 201.881C496.477 202.425 497.054 202.861 497.704 203.16C498.353 203.459 499.06 203.614 499.775 203.614H535.937C538.568 203.614 540.809 201.698 541.221 199.098L550.178 142.31C550.587 139.71 552.828 137.794 555.462 137.794H588.34C626.755 137.794 659.361 109.765 665.314 71.7845C671.324 33.4828 641.405 0.0831495 598.995 0H530.661ZM565.814 43.1697H592.12C613.776 43.1697 620.829 55.9483 618.599 70.0799C616.369 84.2418 605.42 94.6733 584.466 94.6733H557.692L565.814 43.1697ZM738.867 56.3149C729.736 56.3489 719.229 58.2198 707.433 63.1332C680.375 74.4113 667.381 97.7196 661.863 114.712C661.863 114.712 644.307 166.556 683.989 195.039C683.989 195.039 720.782 222.459 762.214 193.349L761.499 197.896C761.388 198.602 761.432 199.324 761.627 200.012C761.822 200.7 762.163 201.338 762.628 201.881C763.093 202.425 763.67 202.861 764.319 203.16C764.968 203.459 765.675 203.614 766.39 203.614H800.716C803.35 203.614 805.587 201.698 805.999 199.098L826.889 66.6708C827.001 65.9638 826.958 65.241 826.764 64.5521C826.57 63.8632 826.228 63.2246 825.764 62.6804C825.299 62.1361 824.721 61.6991 824.071 61.3995C823.421 61.0999 822.714 60.9447 821.998 60.9448H787.669C785.034 60.9448 782.793 62.861 782.385 65.4614L781.262 72.5895C781.262 72.5895 766.265 56.2128 738.867 56.3149ZM739.99 98.1429C743.932 98.1429 747.538 98.6872 750.773 99.7265C765.585 104.481 773.983 118.711 771.553 134.135C768.556 153.127 752.98 167.112 733.005 167.112C729.067 167.112 725.462 166.571 722.222 165.532C707.414 160.777 698.963 146.547 701.394 131.123C704.391 112.131 720.015 98.1429 739.99 98.1429Z" fill="white"/>
								<path d="M348.806 60.9452C346.085 60.9452 344.149 63.6022 344.981 66.1912L382.617 182.982L348.586 238.02C346.935 240.692 348.855 244.142 351.996 244.142H392.217C393.368 244.141 394.498 243.844 395.5 243.279C396.502 242.713 397.34 241.899 397.936 240.915L503.048 67.0302C504.662 64.3581 502.735 60.9414 499.613 60.9414H459.395C458.233 60.9424 457.092 61.2458 456.083 61.8216C455.075 62.3975 454.233 63.2261 453.642 64.2258L412.268 134.079L391.265 64.7436C390.581 62.4872 388.498 60.9414 386.144 60.9414L348.806 60.9452Z" fill="white"/>
								<path d="M865.893 0C863.263 0 861.022 1.91622 860.61 4.51653L830.109 197.888C829.997 198.595 830.04 199.318 830.234 200.007C830.428 200.696 830.769 201.334 831.234 201.879C831.699 202.423 832.276 202.86 832.926 203.16C833.576 203.459 834.284 203.614 835 203.614H871.162C873.793 203.614 876.034 201.698 876.446 199.098L906.939 5.71842C907.05 5.01266 907.006 4.2913 906.812 3.60387C906.618 2.91644 906.277 2.27922 905.813 1.73595C905.349 1.19269 904.773 0.756247 904.124 0.456595C903.476 0.156944 902.77 0.00118638 902.056 0H865.893Z" fill="white"/>
								<path d="M929.483 3.91406V16H927.001V3.91406H929.483ZM933.202 3.91406V5.86475H923.34V3.91406H933.202Z" fill="white"/>
								<path d="M935.758 3.91406H937.867L940.971 12.7876L944.076 3.91406H946.184L941.818 16H940.125L935.758 3.91406ZM934.621 3.91406H936.721L937.103 12.5635V16H934.621V3.91406ZM945.221 3.91406H947.33V16H944.839V12.5635L945.221 3.91406Z" fill="white"/>
							</svg>
						</div>
						<div class="gp-footer__brand-item visa">
							<svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewbox="0 0 24 24">
								<path fill="currentColor" d="M9.112 8.262L5.97 15.758H3.92L2.374 9.775c-.094-.368-.175-.503-.461-.658C1.447 8.864.677 8.627 0 8.479l.046-.217h3.3a.904.904 0 0 1 .894.764l.817 4.338l2.018-5.102zm8.033 5.049c.008-1.979-2.736-2.088-2.717-2.972c.006-.269.262-.555.822-.628a3.66 3.66 0 0 1 1.913.336l.34-1.59a5.207 5.207 0 0 0-1.814-.333c-1.917 0-3.266 1.02-3.278 2.479c-.012 1.079.963 1.68 1.698 2.04c.756.367 1.01.603 1.006.931c-.005.504-.602.725-1.16.734c-.975.015-1.54-.263-1.992-.473l-.351 1.642c.453.208 1.289.39 2.156.398c2.037 0 3.37-1.006 3.377-2.564m5.061 2.447H24l-1.565-7.496h-1.656a.883.883 0 0 0-.826.55l-2.909 6.946h2.036l.405-1.12h2.488zm-2.163-2.656l1.02-2.815l.588 2.815zm-8.16-4.84l-1.603 7.496H8.34l1.605-7.496z"/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gp-footer__copyright">
			<p>© Eleven. All rights reserved</p>
		</div>
	</div>
</footer>
